*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

.create-gallery{
    display: block;
    position: absolute;
    left: 20%;
    border-radius: 10px;
    background-color: #2af;
    z-index: 20;
    padding: 25px;
    width: 60%;
    height: fit-content;
    transform: scale(0);
    transition:  transform .2s;
}

.create-gallery > span{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.create-gallery__config{
    display: grid;
    grid-template-rows: 200px 50px;
}
.create-gallery__config-img{
    position: relative;
    display: grid;
    grid-template-rows: 50px 500px;
}
#img-preview{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
#title-img{
    border: none;
    outline: none;
    font-size: 18px;
    border-bottom: 4px solid #0cf;
    transition: all .2s;
    z-index: 5;
}
#title-img:focus{
    border-bottom: 4px solid #0bf;

}
.create-gallery__config__btn{
    display: flex;
    justify-content: space-between;
}
.create-gallery__config__btn input{
    border: none;
    margin-top: 10px;
    flex-basis: 100%;
}

.create-gallery__config__btn #confirm{
    cursor: pointer;
    background-color: rgb(108, 191, 233);
    color: #fff;
}
#confirm:hover{
    background-color: #0cf;
}

#cancel:hover{
    background-color: #f40;
    cursor: pointer;
    color: #fff;
}
h1{
    background-color: #2af;
    color: #fff;
    text-align: center;
    padding: 15px;
}

.container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 350px));
    justify-content: space-evenly;
    grid-gap: 40px;
    padding: 30px;
    opacity: 1;
    transition: all .2s;
}

.container__galery-img{
    position: relative;
    box-shadow: 5px 5px 5px #ccc;
}

.image{
    height: 200px;
    overflow: hidden;
}

.title-img{
    display: flex;
    position: absolute;
    padding: 25px;
    width: 100%;
    height: 100%;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 6;
    visibility: collapse;
}
.title-img span {
    text-transform: uppercase;
    font-size: 45px;
    color: rgb(231, 231, 231);
}
.image-pic{
    width: 100%;
    height: 200px;
    object-fit: fill;
    transition: all .2s;
}


.container__galery-img:hover {
    cursor: pointer;
    opacity: .8;
}

.container__galery-img:hover > .title-img{
    background-color: rgba(53, 48, 48, 0.637);
    visibility: visible;
}

.images-selected{
    position: relative;
    overflow: hidden;
    display: none;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    padding: 45px;
    grid-gap: 30px;
    transition: all .3s;
}

.images-selected > .cat-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cat-img:nth-child(1){
    grid-column: 1 / 3;
}

.cat-img:nth-child(3){
    grid-row: 2 / 4;
}


.zona-arrastre{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
    border: 4px dashed #000;
    width: 50%;
    margin: 30px auto;
    height: 150px;
}
#file{
    position: relative;
    z-index: 4;
}
.zona-arrastre::before{
    content: 'Pick an image here';
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    
}

#back-to-galery{
    visibility: hidden;
    padding: 15px 50px;
    background: #0bf;
    color: #fff;
    border: none;
    outline: none;
    position: relative;
    font-size: 18px;
    margin-top: 20px;
    transform: translateX(50px);
}

#back-to-galery:active{
    background-color: #0cf;
}

.no-img{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color:  #2af;
}

/* FOOTER */

footer{
    position: relative;
    background: #2af;
}
.contact-section, #copy-section{
    text-align: center;
    flex-basis: 100%;
}

#contact{
    display: flex;
    padding: 20px;
    color: #fff;
    justify-content: center;
    flex-wrap: wrap;
}

#contact > span{
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px;
}

#contact-list{
    border-top: 1px solid #fff;
    padding: 8px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#contact-list li{
    list-style: none;
}
#contact-list li a{
    color: #fff;
    font-size: 25px;
    padding: 20px;
    transition: color, font-size .1s ease-in;
}

#contact-list li:nth-child(1):hover > a{
    color: rgb(219, 93, 20);
}
#contact-list li:nth-child(2):hover > a{
    color: #af0;
}
#contact-list li:nth-child(3):hover > a{
    color: #0cf;
}
#contact-list li:nth-child(4):hover > a{
    color: #00f;
}
#contact-list li:nth-child(5):hover > a{
    color: #0fc;
}
#contact-list li:nth-child(6):hover > a{
    color: #00c0f9;
}
#contact-list li:nth-child(7):hover > a{
    color: #ee9e;
}
